*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  margin: auto;
}

/******************* header container *******************/
.header-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-container #img-logo {
  max-height: 3.5rem;
  margin: auto;
  cursor: pointer;
}

.header-container #input-company::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
}

.header-container .company-logo {
  width: 1.4rem;
  margin: 0.2rem 0.8rem;
  border-radius: 4px;
}

.header-container .company-data {
  text-align: left;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 8px 0px rgba(0, 0, 0, 0.18);
}

.header-container .company {
  height: 2rem;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.header-container .autocomplete-height {
  max-height: 1.5rem;
}

.header-container .company:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  text-align: left;
}

.header-container #btn-search {
  max-height: 3rem;
}

.header-container .blockquote {
  margin-bottom: 0.2rem;
  line-height: 1.2;
}

.header-container .blockquote p {
  font-size: 1rem;
}

.header-container .blockquote-foot {
  display: block;
  font-size: 0.9rem;
  color: #6c757d;
}

.header-container .char {
  animation: fade-in 1s ease-out 1 both;
  display: inline-block;
}

/******************* stock container *******************/
.stock-container .stock-row:nth-child(even) {
  background-color: white;
  border: 1px solid rgb(245, 245, 245);
}

.stock-container .stock-row:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

.stock-container .stock-row {
  border-color: #eaeaea;
  cursor: pointer;
  animation-duration: 1s;
  animation-name: slidein;
}

.stock-container .stock-remove {
  animation-duration: 1s;
  animation-name: slideout;
}

.stock-container .stock-logo {
  width: 3rem;
}

.modal-content .close,
.stock-container .close,
.chart-container .close {
  color: coral;
}

.stock-sector-container .stock-green,
.stock-container .stock-green {
  color: rgb(0, 200, 5);
}

.stock-sector-container .stock-red,
.stock-container .stock-red {
  color: rgb(255, 80, 0);
}

/******************* stock-sector container *******************/
.stock-sector-container {
  font-size: 0.8rem;
}

.stock-sector-container thead th:nth-child(n + 2) {
  text-align: right;
}

.stock-sector-container .sort-no {
  color: rgb(160, 160, 160);
}

.stock-sector-container thead th {
  cursor: pointer;
}

.stock-sector-container .sort-down {
  color: lightskyblue;
}

.stock-sector-container .sort-up {
  color: lightcoral;
}

/******************* chart container *******************/
.chart-container {
  width: 98vw;
  min-height: 450px;
  padding: 0 0.2rem;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #5bc0de;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******************* news container *******************/
.news-container-modal,
.news-container {
  min-height: 450px;
}

.news-container-modal .news-image,
.news-container .news-image {
  width: 12rem;
  margin: auto;
  max-height: 5.6rem;
}

.news-container-modal .text-truncate,
.news-container .text-truncate {
  max-width: 100%;
}

.stock-container hr,
.stock-sector-container hr,
.chart-container hr,
.news-container-modal hr,
.news-container hr {
  border: 0;
  height: 3px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #606060, #ccc);
}

.news-container-modal strong,
.news-container strong {
  text-transform: uppercase;
}

.page-item.active .page-link {
  background-color: rgb(108, 117, 125);
  border-color: 	rgb(108, 117, 125);
}

.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  z-index: 99;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.hvr-underline-reveal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: coral;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/******************* modal container *******************/
#stockModal {
  background-color: white;
}

.modal-dialog {
  max-width: 98vw;
}

.modal-content {
  height: 100%;
  border-radius: 0.5rem;
}

.modal-content .modal-stock-logo {
  width: 2rem;
}

/******************* youtube container *******************/
.youtube-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5000;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 190px;
  border-radius: 5px;
}

.youtube-container .youtube-title {
  padding: 0.5rem;
  cursor: move;
  z-index: 5001;
  background-color: #c5d2dd;
}

.youtube-container .youtube-title p {
  display: inline-block;
}

.youtube-container .youtube-title p:hover {
  color: #007bff;
}

.youtube-container .youtube-title p:after {
  content: "Youtube - CNN News";
}

.youtube-container .youtube-title p:hover:after {
  content: "Click here to move";
}

.youtube-container #youtube-origin,
.youtube-container #youtube-size,
.youtube-container #youtube-close {
  cursor: pointer;
}

.youtube-container #youtube-origin:hover,
.youtube-container #youtube-size:hover,
.youtube-container #youtube-close:hover {
  color: coral;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
}

/******************* media query *******************/
@media screen and (max-width: 500px) {
  body {
    max-width: 98vw;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .header-container #img-logo {
    max-height: 2.5rem;
  }
  .news-container-modal .w-100,
  .news-container .w-100 {
    width: 75% !important;
  }
}

@media screen and (min-width: 992px) {
  .news-container .w-100 {
    width: 75% !important;
  }
}

/******************* Animation *******************/
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
