*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  /* width: 80vw; */
  margin: auto;
}

/******************* header container *******************/
.header-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-container #img-logo {
  max-width: 13vw;
  margin: auto;
}

.header-container .company-logo {
  width: 1.4rem;
  margin: 0.2rem 0.5rem 0.2rem 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-container .company {
  height: 2rem;
}

.header-container .company-data {
  cursor: pointer;
  text-align: left;
}

.header-container #btn-search {
  max-height: 3rem;
}

.header-container .blockquote {
  margin-bottom: 0.2rem;
}

.header-container .blockquote p {
  font-size: 1.1rem;
}

/******************* stock container *******************/
.stock-container {
  /* border: 1px solid gray; */
}

.stock-container .stock-row:nth-child(even) {
  background-color: rgb(245, 245, 245);
  border-radius: 1rem;
}

.stock-container .stock-row {
  border-color: #eaeaea;
  min-height: 5.5rem;
  cursor: pointer;
}

.stock-container .stock-logo {
  width: 4rem;
  height: auto;
  margin: auto 0.5rem auto 1.5rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.stock-container .media-body {
  margin: 0.5rem;
}

.modal-content .close,
.stock-container .close,
.chart-container .close {
  color: coral;
}

.stock-container .stock-name {
  font-size: 1.5rem;
}

.stock-container .stock-symbol {
  margin-left: 0.5rem;
}

.stock-container .stock-price {
  font-size: 1.3rem;
  margin: 0 0.5rem 0 0;
  font-weight: 500;
}

.stock-container .stock-arrow,
.stock-container .stock-change,
.stock-container .stock-percent {
  font-size: 1.2rem;
  margin: 0.2rem;
}

.stock-container .stock-green {
  color: rgb(0, 200, 5);
}

.stock-container .stock-red {
  color: rgb(255, 80, 0);
}

/******************* chart container *******************/
.chart-container {
  width: 100vw;
  min-height: 400px;
  margin: 0.5rem 0;
  padding: 0 0.2rem;
  /* border: 1px solid blue; */
}

/******************* news container *******************/
.news-container-modal .news-image,
.news-container .news-image {
  width: 12rem;
  margin: auto;
}

.news-container-modal strong,
.news-container strong {
  text-transform: uppercase;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/******************* modal container *******************/
#stockModal {
  background-color: white;
}

.modal-dialog {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0.5rem;
}

.modal-content .modal-stock-logo {
  width: 2rem;
}

/******************* media query *******************/
@media screen and (max-width: 500px) {
  body {
    width: 100vw;
  }

  .header-container #img-logo {
    max-width: 40vw;
    margin: auto;
  }

  .news-container .card-img-left {
    /* flex-shrink: 3; */
  }
}
