*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  margin: auto;
}

/******************* header container *******************/
.header-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-container #img-logo {
  max-height: 3.5rem;
  margin: auto;
}

.header-container #input-company::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
}

.header-container .company-logo {
  width: 1.4rem;
  margin: 0.2rem 0.8rem;
  border-radius: 4px;
}

.header-container .company-data {
  text-align: left;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
}

.header-container .company {
  height: 2rem;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.header-container .autocomplete-height {
  max-height: 1.5rem;
}

.header-container .company:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  text-align: left;
}

.header-container .company-data {
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 2px 8px 0px rgba(0, 0, 0, 0.18);
}

.header-container #btn-search {
  max-height: 3rem;
}

.header-container .blockquote {
  margin-bottom: 0.2rem;
}

.header-container .blockquote p {
  font-size: 1.1rem;
}

.header-container .blockquote-foot {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.header-container .char {
  animation: fade-in 1s ease-out 1 both;
  display: inline-block;
}

/******************* stock container *******************/
.stock-container .stock-row:nth-child(even) {
  background-color: rgb(245, 245, 245);
  border-radius: 1rem;
}

.stock-container .stock-row:nth-child(odd) {
  background-color: white;
  border-radius: 1rem;
}

.stock-container .stock-row {
  border-color: #eaeaea;
  min-height: 5.5rem;
  cursor: pointer;
  animation-duration: 1s;
  animation-name: slidein;
}

.stock-container .stock-remove {
  animation-duration: 1s;
  animation-name: slideout;
}

.stock-container .stock-logo {
  width: 4rem;
  height: auto;
  margin: auto 0.5rem auto 1.5rem;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.stock-container .media-body {
  margin: 0.5rem;
}

.modal-content .close,
.stock-container .close,
.chart-container .close {
  color: coral;
}

.stock-container .stock-name {
  font-size: 1.5rem;
}

.stock-container .stock-symbol {
  margin-left: 0.5rem;
}

.stock-container .stock-price {
  font-size: 1.3rem;
  margin: 0 0.5rem 0 0;
  font-weight: 500;
}

.stock-container .stock-arrow,
.stock-container .stock-change,
.stock-container .stock-percent {
  font-size: 1.2rem;
  margin: 0.2rem;
}

.stock-container .stock-green {
  color: rgb(0, 200, 5);
}

.stock-container .stock-red {
  color: rgb(255, 80, 0);
}

/******************* chart container *******************/
.chart-container {
  width: 100vw;
  min-height: 400px;
  margin: 0.5rem 0;
  padding: 0 0.2rem;
}

.chart-container .stock-time {
  width: 3rem;
}

/******************* news container *******************/
.news-container-modal .news-image,
.news-container .news-image {
  width: 12rem;
  margin: auto;
}

.news-container-modal strong,
.news-container strong {
  text-transform: uppercase;
}

/* Hover.css (http://ianlunn.github.io/Hover/) : Grow */
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  z-index: 99;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* Hover.css (http://ianlunn.github.io/Hover/) : Underline Reveal */
.hvr-underline-reveal {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgb(0, 200, 5); */
  background: coral;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before,
.hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/******************* modal container *******************/
#stockModal {
  background-color: white;
}

.modal-dialog {
  max-width: 100vw;
  padding: 0 1rem;
  margin: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0.5rem;
}

.modal-content .modal-stock-logo {
  width: 2rem;
}

/******************* media query *******************/
@media screen and (max-width: 500px) {
  body {
    width: 100vw;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  .header-container #img-logo {
    max-height: 2.5rem;
  }
}

/******************* Animation *******************/
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
